[type="text"],
[type="email"],
[type="url"],
[type="password"],
[type="number"],
[type="date"],
[type="datetime-local"],
[type="month"],
[type="search"],
[type="tel"],
[type="time"],
[type="week"],
[multiple],
textarea,
select {
  @apply rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6;
}

[type="checkbox"] {
  @apply h-4 w-4 rounded border-gray-300 text-blue-600 focus:ring-blue-600;
}

[type="range"] {
  @apply h-1 bg-gray-200 rounded-lg appearance-none cursor-pointer dark:bg-gray-700;
}

button {
  @apply rounded-md border w-fit inline-flex items-center justify-center font-bold antialiased text-gray-600 shadow-sm gap-1;
}
