.billing-modal {
  display: flex;
  gap: 8px;
  justify-content: space-between;
  margin-top: 24px;
}

.billing-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  border-radius: 6px;
  box-sizing: border-box;
  border: var(--border-in-light);
  box-shadow: var(--card-shadow);
  padding: 24px;
  transition: all .2s;

  &:hover {
    box-shadow: var(--shadow);
  }
}

.billing-card-title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 8px;
}

.billing-card-price {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 8px;
  margin-bottom: 12px;
  position: relative;

  &::before {
    content: '¥';
    font-size: 12px;
    position: absolute;
    left: -.8em;
    top: .3em;
  }
}

.billing-card-token {
  font-size: 14px;
  margin-bottom: 8px;
  margin-bottom: 12px;
}

.billing-card-btn {
  outline: none;
  border: none;
  background-color: var(--primary);
  color: white;
  transition: all .2s;
  border-radius: 3px;
  padding: 4px 8px;
  cursor: pointer;
  margin-bottom: 8px;

  &:hover {
    border-color: var(--primary);
    filter: brightness(0.9);
  }
}
