.markdown-body pre {
  position: relative;
  padding: 0;
  font-family: monaco, ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas,
    Liberation Mono, monospace;
  font-size: 12px;
  word-wrap: normal;
}

.markdown-body pre:hover .copy-code-button {
  pointer-events: all;
  transform: translateX(0px);
  opacity: 0.5;
}

.markdown-body pre .copy-code-button {
  position: absolute;
  right: 10px;
  top: 1em;
  cursor: pointer;
  padding: 0px 5px;
  background-color: var(--black);
  color: var(--white);
  border: var(--border-in-light);
  border-radius: 10px;
  transform: translateX(10px);
  pointer-events: none;
  opacity: 0;
  transition: all ease 0.3s;
}

.markdown-body pre .copy-code-button:after {
  content: "copy";
}

.markdown-body pre .copy-code-button:hover {
  opacity: 1;
}

.markdown-body pre code {
  background: transparent;
}

.markdown-body input::-webkit-outer-spin-button,
.markdown-body input::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
  appearance: none;
}
